.logo {

    &__img {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        fill: currentColor;
    }
    
    &__text {
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 4rem;
    
        span {
            font-weight: 400;
        }
    }
}