$color-primary: #1de9b6;
$color-primary-darker: #80d8ff;

$color-white: #fff;
$color-black: #000;

//$color-blue-light-1: #49d7da;
$color-blue-light-2:#80d8ff;
$color-blue-light-3: #82b1ff;
$color-blue-dark-1: #061e37;

$color-grey-light-1: #b0bec5;
$color-grey-light-2:#78909c;
$color-grey-light-3: #90a4ae;
$color-grey-lightest: #fafafa;

$color-grey-dark-1: #384b5f;

$color-pink-dark: #b388ff;
$color-pink-light: #ea80fc;

$margin-bottom-main: 7rem;
$margin-bottom-medium: 5rem;
$margin-bottom-small: 2rem;