@mixin btn-main {
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2rem 4rem rgba($color-black, .3);
    border-radius: 4px;
}

@mixin btn-active {
    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
        transform: translateY(2px);
    }
}

%form-style {
    border-radius: 5px;
    border: 1px solid $color-blue-dark-1;
    padding-left: 1.5rem;

    &::placeholder {
        font-size: 1.6rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color: $color-blue-dark-1;
    }
}

%input-focus {
    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
    }
}